#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ public/$1 [L]
#  (.*) index.php?YPATH=$1 [QSA]

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/$1 [L]